.h1Tittle
{
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
}

.text-center.border.border-light.p-5 {
    max-width: 500px;
    margin: 0 auto;
    border-radius: 5%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0);
  }
body
{
    background-image: url('bg.jpeg');
}